html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background-color:#002A4B;
}
h1{
font-size: xx-large;
color: lavender;
text-align:center;
}
nav li{
list-style-type:none;
border:18.75% solid violet;
border-radius:62.5%;
width:10rem;
background-color:#001924;
text-align:center;
margin-bottom:0.7rem;
margin:1rem; 
display:inline-block;
}
nav a{
border:18.75% solid black;
border-radius:62.5%;
font-size:1.5rem;
color:white;
font-weight:bold;
text-decoration:none; 
  display:block;
padding:0.5rem; 
}
nav a:hover{
background-color:white;
color:red;
}
article{
border:31.25% groove white;
border-radius:62.5%;
padding: 10rem;
margin: 10rem;
background-color: rgb(15, 23, 85);
display: flex;
align-items: center;
justify-content: center;
position: absolute;
right: 0;
left: 0;
top: 0;
bottom: 0;
margin: auto;
}

